@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Story+Script&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #232020;
    overflow-x: hidden;
}
.briefintro {
    font-family: Story Script;
    font-size: 3rem;
    color: rgb(133, 222, 222);
    text-align: center;
    height: 20vh;
    width: 100%;
}

.briefintro h2 {
    font-size: inherit;
    font-weight: normal;
    font-family: inherit;
    color: inherit;
}

.nametwo {
    color: rgb(171, 192, 192);
}

.mypfp {
    height: 150px;
    border: 1px solid rgb(173, 225, 245);
    border-radius: 20px;
    margin: 20px auto;
    display: block;
}

.in {
    font-size: 1.9rem;
    color: rgb(140, 148, 148);
}

.socials {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}
.img {
  margin-left: 10px;
}

.buttonthing {
    text-align: center;
}

.left {
    height: 25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(200, 196, 196);
    border-radius: 12px;
    width: 150px;
    text-align: center; 
    font-family: Poppins;
}

.left a, .right a {
    text-decoration: none;
}

.right {
    height: 25px;
    background-color: rgb(255, 255, 255);
   border: 1px solid rgb(200, 196, 196);
    border-radius: 12px;
    width: 160px;
    text-align: center; 
    font-family: Poppins;
}

.navb {
    font-family: Poppins;
    color: rgb(164, 237, 255);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    height:10vh;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.anchor {
    color: rgb(164, 237, 255);
    text-decoration: none;
}

.nav-right {
    margin-left: auto;
    margin-right: 10px;
}

.nav-end {
    margin-right: 10px;
}

.name {
    font-size: 35px;
    color:rgb(151, 181, 187);
    font-weight: 1000;
    margin-left: 10px;
    font-family: Story Script;
    text-decoration: none;
    border-bottom: 3px solid rgb(7, 36, 255);
    padding-bottom: 0px;
    line-height: 1;
}
.icon{
    height:40px;
    filter: brightness(0) invert(0.75) sepia(0.15) saturate(0.4) hue-rotate(150deg);
}

header{
    height: 85vh;
}

footer {
    color: white;
    background-color:black;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Oswald;
}

/* tablet mw 1024 */
@media (max-width: 1024px) {
}

/* Small Tablet mw 768 */
@media (max-width: 768px) {
    .briefintro {
        font-size: 2rem;
        height: auto;
        padding: 20px 15px;
        width: 100%;
    }

    .in {
        font-size: 1.3rem;
    }

    .name {
        font-size: 24px;
    }

    .navb {
        flex-wrap: wrap;
        height: auto;
        padding: 15px;
        gap: 10px;
    }

    .mypfp {
        height: 120px;
    }

    .icon {
        height: 35px;
    }

    header {
        height: auto;
        min-height: 85vh;
    }
}

/* Mobile 480px mw */
@media (max-width: 480px) {
    .briefintro {
        font-size: 1.4rem;
        padding: 15px 10px;
    }

    .in {
        font-size: 1rem;
    }

    .name {
        font-size: 26px;
    }

    .navb {
        flex-wrap: wrap;
        height: auto;
        padding: 12px;
        gap: 8px;
        margin: 10px;
        justify-content: center;
    }

    .navb li {
        font-size: 12px;
    }

    .mypfp {
        height: 100px;
    }

    .icon {
        height: 30px;
    }

    .socials {
        gap: 15px;
        padding: 15px;
    }

    .img {
        right: 0;
    }

    .img img {
        height: 35px;
    }

    .left, .right {
        width: 120px;
        font-size: 12px;
    }

    header {
        height: auto;
        padding-bottom: 20px;
    }

    footer {
        padding: 10px;
        font-size: 0.85rem;
    }
}

/* Mobile landscape */
@media (max-height: 500px) and (orientation: landscape) {
    .navb {
        height: auto;
        padding: 8px 12px;
        gap: 8px;
    }

    .name {
        font-size: 22px;
    }

    .navb li {
        font-size: 12px;
    }

    .briefintro {
        font-size: 1.4rem;
        height: auto;
        padding: 10px;
    }

    .in {
        font-size: 1rem;
    }

    .mypfp {
        height: 80px;
    }

    header {
        height: auto;
    }

    .icon {
        height: 28px;
    }

    .socials {
        gap: 15px;
        padding: 10px;
    }
}
